#Success{
    width 100vw
    height 100vh
    position fixed
    z-index: 99
    background: rgba(0,0,0,0.56)
    top 0
    left 0  
    bottom 0
    right 0
    .Box{
        z-index: 999
        position relative
        top 49.3vw
        left 15.5vw
        width 69.3vw
        height 70.1vw
        border-radius:2.1vw;
        background:rgba(255,255,255,1) 
        padding:4.9vw 8.7vw 0
        box-sizing: border-box
        .title{
            width:19.7vw;
            height:10.4vw;
            font-size:4.8vw;
            font-family:Microsoft YaHei;
            font-weight:bold;
            color:rgba(254,179,54,1);
            line-height:5.6vw; 
            text-align: center;
            margin:0 auto   
        }
        .successImg{
            img{
                display: block
                width 26.4vw
                height 19.3vw
                margin:3.3vw auto
            }    
        }
        .remind{
            font-size:3.2vw;
            font-family:Microsoft YaHei;
            font-weight:400;
            color:rgba(234,79,50,1);
            line-height:4.3vw;
            text-align: center
        }
        .button{
            width:34.7vw;
            height:10.1vw;
            background:linear-gradient(0deg,rgba(254,179,54,1) 0%,rgba(255,198,56,1) 100%);
            border-radius:4.8vw;
            font-size:3.7vw;
            font-family:Microsoft YaHei;
            font-weight:bold;
            color:rgba(255,255,255,1);
            text-shadow:0vw 0.3vw 0.7vw rgba(234,155,24,0.52);
            line-height: 10.1vw
            text-align: center
            position: absolute
            bottom:6.5vw
            left 0
            right 0 
            margin auto
        }
        .close{
        img {
            width 3.7vw
            height 3.7vw
            display inline-block
        }
        position absolute
        right: 3.6vw
        top: 3.1vw
        
        }
    }
    
}